<template name="coor">
	<div class="content picker">
	<h1> Coordinate Picker </h1>
	<div class="line-separator"></div></br>	
	<input id="filecoor" placeholder="Map URL"/> <button id="loadcoor" class="btn btn-primary">Load image</button>
	<form id="pointform" method="post">
			<div id="pointer_div" onclick="pointIt(event)" style = "width: auto; height: auto;">
				<img src="" id="picture"/>
				<!--img src="point.gif" id="cross" style="position:relative;visibility:hidden;z-index:2;"/-->
			</div>

			<div id="data_div" counter="0">
				<h3>-- Sensor Position --<h3>
			</div>
		Filename: <input id="filename" placeholder="Position file name for saving">
		<button class="btn btn-primary" id="copyoutput">Generate result</button>
		</form> 
	</div>
</template>
